#About {
  min-height: 304px;
  max-height: 90%;
  #AboutLogo {
    background-image: url(../../assets//rectangle-6.png);
    background-position: 50%;
    background-size: cover;
    width: 456px;
    height: 304px;
    opacity: 30%;
  }
  #bgColor {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.54) 3.85%,
      rgba(175, 229, 255, 0.54) 34.13%,
      rgba(114, 71, 128, 0.54) 100%
    );
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 100%;
    top: 0;
    left: 0;
    height: 100%;

    h2 {
      color: var(--purpleColor);
      font-family: "GE SS Two-Medium", Helvetica;
      font-size: 46px;
      font-weight: 700;
      margin: 0;
      /*vertical-align:top;*/
    }
    #regtangle {
 
      border-top: 2px solid #cba15f;
      background-color: rgba(217, 217, 217, 0.3);

      height: 157px;
      p {
        color: rgba(0, 0, 0, 0.5);
        font-family: "GE SS Two-Light";
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        vertical-align: middle;
      }
    }
  }
}
#sectionBaby {
  /* background-color: #734079; */
  height: 230px;
  /* margin-top: -200px; */
  overflow: hidden;
  z-index: 3;
  position: relative;

  h3 {
    font-size: 14px;
    font-family: "GE SS Two";
    font-weight: 500;
    transition: transform 0.4s ease, color 0.4s ease;
  }
}
/* p {
    font-size: 1rem;
    margin: 0;
  } */
#cardbaby {
  width: 166px;
  height: 176px;
  padding: 20px;
  background-color: var(--purpleColor);
  box-shadow: 11px 13px 1px #d9d9d9;
  transition: all 0.8s ease-in-out;
  /* background-color: transparent;
    overflow: hidden; */
  text-align: center;
  align-content: center;
}
img {
  transition: transform 0.4s ease, color 0.4s ease;
}

#cardbaby:hover {
  /* background-color:var(--fontyelowColor); */
  /* transform: scale(1.2); */
  transform: translateY(-5px);
  /* padding: 20px; */
  h3 {
    transform: scale(1.1);

    color: var(--fontyelowColor);
  }
  img {
    transform: scale(1.1);
  }
}
.active {
  color: var(--fontyelowColor);
}

.justifyText {
  text-align: justify;
  line-height: 1.6;
}
