 .overlap-30 {
    height: 451px;
    left: -3px;
    position: absolute;
    top: 1956px;
    width: 1445px;
  }
  
 .overlap-group-wrapper {
    height: 451px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1445px;
  }
  
 .overlap-31 {
    background-image: url(../../assets/section.svg);
    background-position: 50% 50%;
    background-size: cover;
    height: 451px;
    position: relative;
    width: 1443px;
  }
  
 .text-wrapper-54 {
    color: #ffffff;
    direction: rtl;
    font-family: "GE SS-Bold", Helvetica;
    font-size: 32px;
    font-weight: 700;
    left: 622px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 13px;
  }
  
 .div-5 {
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 15px;
    height: 238px;
    left: 79px;
    position: absolute;
    top: 128px;
    width: 410px;
  }
  
.overlap-group-4 {
    height: 304px;
    left: -11px;
    position: relative;
    top: -56px;
    width: 430px;
  }
  
.zoom-instance {
    background-image: url(../../assets/image-6-6.png) !important;
    height: 256px !important;
    left: 0 !important;
    position: absolute !important;
    top: 48px !important;
    width: 430px !important;
  }
  
 .div-6 {
    height: 51px;
    left: 91px;
    position: absolute;
    top: 0;
    width: 255px;
  }
  
 .div-7 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    left: 56px;
    padding: 12px 0px 13px;
    position: relative;
  }
  
 .text-wrapper-55 {
    color: #ffffff;
    direction: rtl;
    font-family: "GE SS Two-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    text-shadow: 0px 4px 4px #000000cc;
    white-space: nowrap;
    width: fit-content;
  }
 .div-8 {
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 15px;
    height: 238px;
    left: 971px;
    position: absolute;
    top: 128px;
    width: 410px;
  }
  
 .overlap-32 {
    height: 90px;
    left: -889px;
    position: absolute;
    top: 164px;
    width: 405px;
  }
  
 .rectangle-21 {
    background-color: #00000080;
    border-radius: 13px;
    height: 47px;
    left: 0;
    position: absolute;
    top: 26px;
    width: 405px;
  }
  
.div-9 {
    height: 90px;
    left: 23px;
    position: absolute;
    top: 0;
    width: 342px;
  }
  
 .text-wrapper-56 {
    color: #ffffff;
    direction: rtl;
    font-family: "GE SS Two-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    height: 30px;
    left: 37px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 29px;
    width: 287px;
  }
  
  .overlap-33 {
    height: 311px;
    left: -12px;
    position: absolute;
    top: -56px;
    width: 434px;
  }
  
 .design-component-instance-node {
    background-image: url(../../assets/image-6-7.png) !important;
    height: 257px !important;
    left: 0 !important;
    position: absolute !important;
    top: 47px !important;
    width: 434px !important;
  }
  
.rectangle-22 {
    background-color: #00000080;
    border-radius: 13px;
    height: 47px;
    left: 15px;
    position: absolute;
    top: 245px;
    width: 405px;
  }
  
 .div-10 {
    align-items: center;
    display: flex;
    gap: 144.08px;
    height: 51px;
    left: 107px;
    position: absolute;
    top: 0;
    width: 158px;
  }
  
 .div-11 {
    height: 51px;
    margin-right: -97.00px;
    position: relative;
    width: 255px;
  }
  
.div-12 {
    align-items: flex-start;
    box-shadow: 0px 4px 4px #000000cc;
    display: inline-flex;
    flex-direction: column;
    left: 66px;
    padding: 12px 0px 13px;
    position: absolute;
    top: 0;
  }
  
 .text-wrapper-57 {
    color: #ffffff;
    direction: rtl;
    font-family: "GE SS Two-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 18px;
    margin-top: -1.00px;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: fit-content;
  }
  

 .div-13 {
    height: 90px;
    left: 46px;
    position: absolute;
    top: 221px;
    width: 342px;
  }
  