

#detailsinfo {
  background-color: rgba(217, 217, 217, 0.2);

  #h5info {
    font-family: GE SS Two;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #cba15f;
  }
}
#newscontainer {
  overflow: hidden;
  #infoParagraph {
    color: rgba(0, 0, 0, 0.5);
    font-family: "GE SS Two-Light";
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    vertical-align: middle;
  }
}
#h3info {
  color: #000000;
  font-family: GE SS Two;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: top;
  /* margin-right: 100px !important; */
  padding-right: 110px;
  /* direction:rtl; */
}

#newsImg {
  float: left; /* الصورة على الشمال، ممكن تغيريها لـ right */
  margin: 0 17px 15px 0; /* مسافات بين الصورة والنص */
  /* width: 384px; */

  height: auto;
}
.activelink {
  color: var(--purpleColor) !important;
  text-decoration-color: var(--purpleColor) !important;
  text-decoration-line: underline !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 10px;
}
@media (max-width: 768px) {
  #h3info {
    margin-right: 0px !important;
    font-size: 1.5rem;
    text-align: center;
    padding-right: 15px;
  }

  #detailsinfo {
    padding: 0 1rem;
  }

  #newscontainer {
    flex-direction: column;
    align-items: center !important;
  }

  #newscontainer img {
    width: 100% !important;
    height: auto !important;
    margin: 10px 0 !important;
  }

  #infoParagraph {
    p {
      text-align: justify;
      font-size: 14px !important;
      line-height: 28px;
    }
  }
}

@media (max-width: 576px) {
  #h3info {
    font-size: 1.3rem;
    margin-right: 0 !important;
  }

  #infoParagraph {
    font-size: 14px !important;
    line-height: 26px;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  #newscontainer img {
    width: 70% !important;
    height: auto !important;
    margin: 10px 0 !important;
  }
}
