
#search {
  button {
    background-color: #724780;
    color: white;
  }
}
.sectionlink {
  font-family: GE SS Two;
  font-weight: 500;
  font-size: 16px;
  color: rgba(0, 0, 0, 1);
}
#details {
  background-color: rgba(217, 217, 217, 0.2);

  #h5new {
    font-family: GE SS Two;
    font-weight: 400;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #cba15f;
  }
}
#newscontainer {
  overflow: hidden;
  #newsParagraph {
    color: rgba(0, 0, 0, 0.5);
    font-family: "GE SS Two-Light";
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
    /* vertical-align: middle; */
  }
}
#h3news {
  color: #000000;
  font-family: GE SS Two;
  font-weight: 500;
  font-size: 1.75rem;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: right;
  vertical-align: top;
  /* margin-right: 0px !important; */
  /* direction:rtl; */
}

#newsImg {
  float: left; /* الصورة على الشمال، ممكن تغيريها لـ right */
  margin: 0 17px 15px 0; /* مسافات بين الصورة والنص */
  /* width: 384px; */

  height: auto;
}
.activelink {
  color: var(--purpleColor) !important;
  text-decoration-color: var(--purpleColor) !important;
  text-decoration-line: underline !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 10px;
}
#colimgtitle {
  img {
    width: 100%;
    height: 530px;
    object-fit: fill;
  }
}
@media (max-width: 768px) {
  #colimgtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      height: 400px;
    }
  }
  #newsParagraph {
    p {
      font-size: 14px !important;
    }
  }
  #source {
    p {
      font-size: 14px !important;
    }
  }
}
