#halfheader {
  position: relative;
  overflow: hidden;
  clip-path: polygon(90% 0%, 100% 100%, 0% 100%, 0% 0%);
}

/* .rotat {
  background-color: var(--purpleColor);
  transform: rotate(44.9deg);
  z-index: 2;
  height: 2px;
  top: 0;
  right: 31.5%;
  position: absolute;

} */
.rotat {
  position: absolute;
  top: 70px;
  right: 0;
  width: clamp(150px, 20vw, 250px);
  height: 2px;
  background-color: var(--purpleColor);
  transform: rotate(44.9deg);
  transform-origin: right top;
  z-index: 2;
}
#menuicon {
  background: none;
  border: none;
  color: black;
  font-size: 24px;
  /* margin-right: 20px; */
}
.part1 {
  background-color: var(--purpleColor);
  color: white;
  /* left: 50%; */
  /* transform: translateX(50%); */
  .icon {
    font-size: 23px;
    color: white;
  }
}
.activelink {
  color: var(--purpleColor) !important;
  text-decoration-color: var(--purpleColor) !important;
  text-decoration-line: underline !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 10px;
}
.linkfont {
  font-family: "GE SS Two-Medium", Helvetica;
  font-weight: 500;
  font-size: 18px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .linkfont {
    font-size: 12px !important;
  }
  .rotat {
    /* right: 8.95%;

    transform: rotate(51.9deg); */
    transform: rotate(57deg);
    top: 100px !important;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  #halfheader {
    width: 90%;
  }
  .rotat {
    transform: rotate(47.99deg);

    /* right: 10.4%; */

    /* transform: rotate(48.99999deg); */
  }
}
@media screen and (max-width: 767px) {
  #halfheader {
    clip-path: none;
  }
  .linkfont {
    font-size: 15px !important;
    /* padding: 10px !important; */
  }
  #dateday {
    font-size: 11px;
  }
  #asema {
    font-size: 12px !important;
  }

  .icon {
    font-size: 15px !important;
    color: white;
  }
  .cycleicon{
    width: 30px;
    height: 30px;  
    border-radius: 50%;  
    background-color: var(--purpleColor);
  }
  #gaptextheader{
    gap: 35px;

  }
}
