.containerhospital {
  h2 {
    font-family: GE SS Two;
    font-size: 32px;
    font-weight: 600;
    color: var(--purpleColor);
  }
  p {
    font-family: GE SS Two;
    font-weight: 600;
    font-size: 14px;
    color: black;
    margin: 0;
  }
  .btnback {
    transition: transform 0.3s ease;
    &:hover {
      color: white !important;
      background-color: var(--purpleColor);
      border-radius: 8px;
      .iconarrow {
        color: white !important;
        transform: translateX(20px);
      }
      .iconfile {
        color: white !important;
        transform: translateX(20px);
      }
    }
  }
  .iconfile {
    color: var(--purpleColor);
    margin-right: 10px;
    font-size: 20px;
    transition: transform 0.3s ease;
  }
  .justifyText {
  text-align: justify;
  line-height: 2;
}
}
