.lighteam {
  min-height: 400px;
  margin-bottom: -150px;
  padding-top: 50px;
}
.textWareber {
  color: var(--fontyelowColor);
  font-family: "GE SS-Bold";
  font-size: 32px;
  font-weight: 500;
}
#cardslid {
  width: 380px !important;
  height: 330px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.card {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  .imgCard {
    border: 5px solid rgba(228, 194, 196, 1);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .textCard {
    background-color: rgba(217, 217, 217, 1);
    height: 40%;
    width: 80%;
    bottom: 0 !important;
    p {
      font-family: "GE SS Two-Medium";
      font-size: 12px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 0.2rem;
    }
  }
  .Cardtitle {
    font-family: "GE SS Two-Medium";
    font-size: 16px;
    font-weight: 700;
    width: 150px;
    text-align: center;
  }
}
/* .mySwiper :global(.swiper-wrapper) {
    display: flex;
    justify-content: space-around;
  } */
.swiper,
.swiper-slide {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
}
#mySwiper {
  max-width: 1200px !important;
  min-width: 50%;
  display: flex;
  flex-direction: row-reverse !important;
}
#mySwiper > div {
  display: flex !important;
  flex-direction: row-reverse !important;
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  #cardslid {
    width: 350px !important;
  }
  .textCard {
    /* width: 100%;
    background-color: rgba(217, 217, 217, 1);
    padding: 10px 16px; */

    p {
      font-size: 12px !important;
      /* line-height: 1.5;
      margin-bottom: 6px;
      text-align: right; */
    }
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  /* #mySwiper{
    max-width: 950px !important;
    min-width: 60%;
  }
}
 @media screen and (max-width: 767px) {
  
#cardslid{
  width: 280px !important;
  height: 350px;
} */
  .lighteam {
    padding-top: 30px;
    margin-bottom: 0;
  }

  #cardslid {
    width: 90% !important;
    max-width: 300px;
    /* height: auto; */
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: auto;
  }

  .card {
    padding: 10px 0;
  }

  .imgCard {
    width: 120px;
    height: 120px;
    border: 4px solid rgba(228, 194, 196, 1);
    margin-bottom: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .Cardtitle {
    font-size: 14px;
    width: 100%;
    text-align: center;
  }

  .textCard {
    width: 100%;
    background-color: rgba(217, 217, 217, 1);
    padding-top: 1rem;
    width: 80% !important;

    p {
      font-size: 12px !important;
      line-height: 1.7 !important;
      margin-bottom: 0px;
      text-align: right;
    }
  }
}
@media screen and (max-width: 767px) {
  .lighteam {
    padding-top: 30px;
    margin-bottom: 0;
  }

  #cardslid {
    width: 100% !important;
    max-width: 300px;
    height: auto;
    margin: auto;
  }

  .card {
    padding: 10px 0;
  }

  .imgCard {
    width: 120px !important;
    height: 120px !important;
    border: 4px solid rgba(228, 194, 196, 1);
    margin-bottom: 10px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .Cardtitle {
    font-size: 14px;
    width: 100%;
    text-align: center;
  }

  .textCard {
    width: 100%;
    background-color: rgba(217, 217, 217, 1);
    padding: 10px 16px;

    p {
      font-size: 12px !important;
      line-height: 1.5;
      margin-bottom: 6px;
      text-align: right;
    }
  }
}
