#About {
  min-height: 304px;
  max-height: 90%;
  #AboutLogo {
    background-image: url(../../assets//rectangle-6.png);
    background-position: 50%;
    background-size: cover;
    width: 456px;
    height: 304px;
    opacity: 30%;
  }
  #bgColor {
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.54) 3.85%,
      rgba(175, 229, 255, 0.54) 34.13%,
      rgba(114, 71, 128, 0.54) 100%
    );
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 100%;
    top: 0;
    left: 0;
    height: 100%;

    h2 {
      color: var(--purpleColor);
      font-family: "GE SS Two-Medium", Helvetica;
      font-size: 46px;
      font-weight: 700;
      margin: 0;
      /*vertical-align:top;*/
    }
    #regtangle {
      background-color: rgba(217, 217, 217, 0.3); /* rgba(217, 217, 217, 0.3);*/
      border-top: 2px solid #cba15f;
      min-height: 157px;
      p {
        color: rgba(0, 0, 0, 0.5);
        font-family: "GE SS Two-Light";
        font-size: 16px;
        font-weight: 500;
        line-height: 30px;
        vertical-align: middle;
            text-align: justify;
      }
    }
  }
}

.imgCard {
  width: 300px;
  height: 300px;
  border: 4px solid rgba(228, 194, 196, 1);
  margin-bottom: 10px;
  border-radius: 50%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}
#phdiv {
  width: 100%;
  text-align: center;
  direction: rtl;
  margin: 0px 0px 0px 0px;
  border: 3px solid rgba(228, 194, 196, 1);
  border-radius: 20px;
}
#imgrayse {
  width: 100%;
  height: 304px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: fill;
  }
}
#iconvedio {
  margin-top: -10px !important;
}
.modalindex {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1000;
  background-color: aliceblue;
  overflow: hidden;
}
#iconarrowclose {
  font-size: 30px;
  color: rgb(255, 0, 0);
}
#textltr {
  h6 {
    direction: rtl;
    line-height: 1.6;
    font-weight: 500;
    text-align: justify !important;
  }
}
.videoWrapper {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  #About {
    min-height: 370px;
    #AboutLogo {
      height: 370px;
    }
  }
  #bgColor {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    h2 {
      font-size: 35px !important;
    }
    p {
      font-size: 16px !important;
    }
  }
  .imgCard {
    width: 250px;
    height: 250px;
  }
}
@media screen and (max-width: 767px) {
  #About {
    min-height: 500px;
    #AboutLogo {
      height: 500px;
      width: 100%;
    }
  }
  #regtangle {
    height: auto !important;
    p {
      font-size: 16px !important;
    }
  }
  #parentimgCard {
    display: flex;
    justify-content: center;
  }
  .imgCard {
    width: 250px;
    height: 250px;
  }
  .contentModal2 .videoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0; 
    height: 450px;
    width: 100%;
  }
  .contentModal2 .videoWrapper iframe {
    position: static; 
    width: 95% !important;
    height: 70%; 
    border-radius: 8px !important;
  }
}
