.swiper-pagination {
  position: static !important;
  margin-top: 10px;
}
.swiper-pagination-bullet {
  border-radius: 2px !important;
}
.swiper-pagination-bullet-active {
  background-color: var(--purpleColor);
}
