#bgColor {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.54) 24.52%, rgba(175, 229, 255, 0.54) 60.1%, rgba(114, 71, 128, 0.54) 100%);
    font-size: 24px;
    line-height: 43px;
    font-family: "GE SS Two-Light";
    
    h3
{
    color: var(--purpleColor);
    font-family: "GE SS Two-Light";
    font-size: 22px;
    align-self:center;
}

h4 {
    color: var(--yellowColor);
    align-self: center;
}
    
}