.chartimg {
  height: 500px; /* للشاشات الكبيرة */
  width: 50% !important;
}

@media (max-width: 992px) {
  .chartimg {
    height: 400px; /* تابلت */
  }
}

@media (max-width: 767px) {
  .chartimg {
    height: 300px; /* موبايل */
    width: 100% !important;
  }
  .chartimg > div {
    position: static !important;
    width: 100% !important;
  }
}
/* 
@media (max-width: 768px) {
.chartimg{
    width: 100% !important;
}
.chartimg >div{
    position: static !important;
    width: 100% !important;
}
} */
